In [1]:
mylist = []

In [2]:
print(type(mylist))

<class 'list'>

In [3]:
mylist = ['a','b',1,2.4]

In [4]:
mylist[1]

'b'

In [5]:
list2 = [7,8,9]

In [6]:
mylist + list2

['a', 'b', 1, 2.4, 7, 8, 9]

In [7]:
list3 = mylist + list2

In [8]:
print(len(list3))

7

In [9]:
for item in list3:
    print(item)

a
b
1
2.4
7
8
9

In [10]:
list3[6]

9

In [11]:
list3[6] = "newvalue"

In [12]:
list3[6]

'newvalue'

In [13]:
print(dir(list3))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [14]:
list3

['a', 'b', 1, 2.4, 7, 8, 'newvalue']

In [15]:
list3.pop(3)

2.4

In [16]:
list3

['a', 'b', 1, 7, 8, 'newvalue']

In [17]:
list3.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [18]:
numlist = [9,5,1,4,5]

In [19]:
numlist.sort()

In [20]:
print(numlist.sort())

None

In [21]:
numlist.sort()

In [22]:
numlist

[1, 4, 5, 5, 9]

In [23]:
list3

['a', 'b', 1, 7, 8, 'newvalue']

In [24]:
list3.pop()

'newvalue'

In [25]:
list3

['a', 'b', 1, 7, 8]

In [26]:
list3.pop(1)

'b'

In [27]:
list3

['a', 1, 7, 8]

In [28]:
list3.reverse()

In [29]:
list3

[8, 7, 1, 'a']

In [30]:
numlist

[1, 4, 5, 5, 9]

In [32]:
numlist.sort(reverse=True)

In [33]:
numlist

[9, 5, 5, 4, 1]

In [34]:
print(dir(numlist))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [35]:
# Tuples are Immutable (cannot be changed)

In [36]:
mytuple = ()

In [37]:
print(type(mytuple))

<class 'tuple'>

In [38]:
mytuple =(3,6,9)

In [39]:
mytuple

(3, 6, 9)

In [40]:
mytuple[1] = 7

TypeError: 'tuple' object does not support item assignment

In [42]:
mytuple.count

In [46]:
print(mytuple.index(9))

2

In [47]:
print(mytuple.count(9))

1

In [48]:
newtuple = (1,1,2,2,2,2,3)

In [49]:
print(newtuple.count(2))

4

In [50]:
print(newtuple.count(1))

2

In [51]:
a = set()

In [52]:
print(type(a))

<class 'set'>

In [53]:
a = (1,2,3,4,4,4)

In [54]:
a

(1, 2, 3, 4, 4, 4)

In [55]:
a = { 1,2,1,2}

In [56]:
a

{1, 2}

In [57]:
mylist = [1,1,1,2,3,4,4]

In [62]:
a

[1, 1, 1, 2, 3, 4, 4]

In [64]:
mylist

[1, 1, 1, 2, 3, 4, 4]

In [60]:
a = mylist

In [61]:
a

[1, 1, 1, 2, 3, 4, 4]

In [63]:
a = {1,2}

In [66]:
newset = set(mylist)

In [67]:
a = {1,2,3}
b = {3,4,5}

In [68]:
a.union(b)

{1, 2, 3, 4, 5}

In [69]:
a.difference(b)

{1, 2}

In [70]:
a.intersection(b)

{3}

In [71]:
print(dir(a))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [72]:
dict1 = {}

In [73]:
print(type(dict1))

<class 'dict'>

In [74]:
dict1

{}

In [75]:
dict1 = {"s1": "fruits", 
         "j1": "vegetables",
        "rocky": 1,
        "Dany": 3}

In [76]:
dict1

{'s1': 'fruits', 'j1': 'vegetables', 'rocky': 1, 'Dany': 3}

In [77]:
dict1.keys()

dict_keys(['s1', 'j1', 'rocky', 'Dany'])

In [78]:
dict1.values()

dict_values(['fruits', 'vegetables', 1, 3])

In [79]:
dict1.items()

dict_items([('s1', 'fruits'), ('j1', 'vegetables'), ('rocky', 1), ('Dany', 3)])

In [80]:
for key,value in dict1.items():
    print("my keys are {} and values are {}".format(key,value))

my keys are s1 and values are fruits
my keys are j1 and values are vegetables
my keys are rocky and values are 1
my keys are Dany and values are 3

In [81]:
for key,value in dict1.items():
    if value == 3:
        print("3 found - respective key is {}".format(key))

3 found - respective key is Dany

In [82]:
for item in dict1.keys():
    if item == 'Dany':
        print("Dany found")

Dany found

In [83]:
dict1

{'s1': 'fruits', 'j1': 'vegetables', 'rocky': 1, 'Dany': 3}

In [84]:
dict1['fourth'] = "my 4th value"

In [85]:
dict1

{'s1': 'fruits',
 'j1': 'vegetables',
 'rocky': 1,
 'Dany': 3,
 'fourth': 'my 4th value'}

In [87]:
dict1['fifth'] = "some5thvalue"

In [88]:
dict1

{'s1': 'fruits',
 'j1': 'vegetables',
 'rocky': 1,
 'Dany': 3,
 'fourth': 'my 4th value',
 'fifth': 'some5thvalue'}

In [90]:
dict1.pop("j1")

'vegetables'

In [91]:
dict1

{'s1': 'fruits',
 'rocky': 1,
 'Dany': 3,
 'fourth': 'my 4th value',
 'fifth': 'some5thvalue'}

In [92]:
dict1.pop(0)

KeyError: 0

In [93]:
dict1.pop('s1')

'fruits'

In [94]:
dict1

{'rocky': 1, 'Dany': 3, 'fourth': 'my 4th value', 'fifth': 'some5thvalue'}

In [95]:
dict1["rocky"] = 5

In [96]:
dict1["rocky"]

5

In [97]:
dict1

{'rocky': 5, 'Dany': 3, 'fourth': 'my 4th value', 'fifth': 'some5thvalue'}

In [98]:
# Nested Dictionary

In [99]:
student = {}

In [100]:
print(type(student))

<class 'dict'>

In [103]:
student = {
            "saran" : { 
                "books": {}
            }
          }

In [104]:
student

{'saran': {'books': {}}}

In [105]:
student['saran']

{'books': {}}

In [106]:
student['saran']['books']

{}

In [107]:
student['saran']['books'] = {"science": 2, "maths": 3}

In [108]:
student

{'saran': {'books': {'science': 2, 'maths': 3}}}

In [109]:
student['jana'] = {"books": {}}

In [110]:
student

{'saran': {'books': {'science': 2, 'maths': 3}}, 'jana': {'books': {}}}

In [111]:
student.keys()

dict_keys(['saran', 'jana'])

In [112]:
student["saran"].keys()

dict_keys(['books'])

In [113]:
student["saran"]["books"].keys()

dict_keys(['science', 'maths'])

In [114]:
student["saran"]["books"]["science"].keys()

AttributeError: 'int' object has no attribute 'keys'

In [115]:
student["saran"]["books"]["science"]

2

In [116]:
student["saran"]["books"]["maths"]

3

In [117]:
student["jana"].keys()

dict_keys(['books'])

In [118]:
student["jana"]['books']

{}

In [119]:
student["jana"]["books"]["chemistry"] = 2

In [120]:
student["jana"]['books']

{'chemistry': 2}

In [121]:
student["jana"]['books'].keys()

dict_keys(['chemistry'])

In [122]:
student

{'saran': {'books': {'science': 2, 'maths': 3}},
 'jana': {'books': {'chemistry': 2}}}

In [123]:
student["Hemakumar"] = {"books":{"jee": 5}}

In [124]:
student

{'saran': {'books': {'science': 2, 'maths': 3}},
 'jana': {'books': {'chemistry': 2}},
 'Hemakumar': {'books': {'jee': 5}}}

In [125]:
student["x"] = {"books": {}}

In [126]:
student

{'saran': {'books': {'science': 2, 'maths': 3}},
 'jana': {'books': {'chemistry': 2}},
 'Hemakumar': {'books': {'jee': 5}},
 'x': {'books': {}}}