In [1]:
name = "Saran"
print("first name is ",name)

first name is  Saran

In [4]:
Firstname = "Saran"
LastName = "Raj"
print("Firstname {0} Lastname {1}".format(Firstname,LastName))

Firstname Saran Lastname Raj

In [5]:
emailid = '{0}.{1}@gmail.com'.format(Firstname,LastName) 
print(emailid)

Saran.Raj@gmail.com

In [6]:
myvar = 'I have 3 {0} and 2 {0}'.format("Apples","Oranges")

In [7]:
print(myvar)

I have 3 Apples and 2 Apples

In [8]:
print(myvar.upper())

I HAVE 3 APPLES AND 2 APPLES

In [15]:
print(myvar.count("I"))

1

In [16]:
print(myvar.islower())

False

In [19]:
varlower = "all are lower caSe"

In [20]:
print(varlower.islower())

False

In [22]:
print(varlower.isupper())

False

In [23]:
print(varlower.upper().isupper())

True

The above programs are examples for String operations