In [1]:
# One level JSON data

In [2]:
num = {
    1: "one",
    2: "two",
    3: "three"
}

In [3]:
num[1]

'one'

In [4]:
num.get(1)

'one'

In [7]:
for item in num.keys():
    print(item)

1
2
3

In [8]:
num[2] = "NEW TWO"

In [9]:
num

{1: 'one', 2: 'NEW TWO', 3: 'three'}

In [10]:
num.pop(2)

'NEW TWO'

In [11]:
num

{1: 'one', 3: 'three'}

In [12]:
# Two level JSON data

In [13]:
student = { 
	"jana": "student",
	"saran": {
				"home": "vellore",
				"work": "Sydney"
			 },
	"Danny": "Dog"
}

In [15]:
student["jana"]

'student'

In [16]:
print(type(student))

<class 'dict'>

In [18]:
student["saran"]

{'home': 'vellore', 'work': 'Sydney'}

In [19]:
student["saran"]["work"]

'Sydney'

In [20]:
student["saran"]["work"] = "Australia"

In [21]:
student["saran"]["work"]

'Australia'

In [22]:
new = {
	"jana": "student",
	"saran": {
				"home": "vellore",
				"work": {
                          "Sydney": "office 1",
                          "Melbourne": "Office 2"
                        }
			 },
	"Danny": "Dog"
}

In [23]:
new["saran"]["work"]["Melbourne"]

'Office 2'

In [25]:
new["saran"]["work"].popitem()

('Melbourne', 'Office 2')

In [26]:
new

{'jana': 'student',
 'saran': {'home': 'vellore', 'work': {'Sydney': 'office 1'}},
 'Danny': 'Dog'}

In [27]:
new["saran"]["work"].popitem()

('Sydney', 'office 1')

In [28]:
new

{'jana': 'student', 'saran': {'home': 'vellore', 'work': {}}, 'Danny': 'Dog'}

In [29]:
new["saran"]["work"]["arakkonam"] = "newhome"

In [30]:
new

{'jana': 'student',
 'saran': {'home': 'vellore', 'work': {'arakkonam': 'newhome'}},
 'Danny': 'Dog'}

In [31]:
new["saran"]["work"]["arakkonam"] = "hotnow"

In [32]:
new

{'jana': 'student',
 'saran': {'home': 'vellore', 'work': {'arakkonam': 'hotnow'}},
 'Danny': 'Dog'}

In [33]:
new["saran"]["work"]

{'arakkonam': 'hotnow'}

In [34]:
new["saran"]["work"]["key1"] = "myvalue"

In [35]:
new

{'jana': 'student',
 'saran': {'home': 'vellore',
  'work': {'arakkonam': 'hotnow', 'key1': 'myvalue'}},
 'Danny': 'Dog'}

In [36]:
new["saran"]["work"]["key1"]

'myvalue'

In [37]:
books = {}

In [38]:
print(type(books))

<class 'dict'>

In [39]:
books["Maths"] = 4

In [40]:
books

{'Maths': 4}

In [41]:
books["Maths"]

4

In [42]:
print(type(books["Maths"]))

<class 'int'>

In [43]:
books["Maths"] = 4 + 4

In [44]:
books["Maths"]

8